html {
    scroll-behavior: smooth;
}

body {
    font-family: "Jost";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* navbar */
#navbar {
    display: flex;
    justify-content: center;

    width: 98%;
    height: 100px;

    position: fixed;
    top: 0;
}

#navbar ul{
    align-items: center;
    list-style: none;
    display: flex;
    gap: 100px;
}

#navbar ul li a{
    text-align: center;
    text-decoration: none;
    font-size: 18px;

    color: black;
    background-color: #f0eff4;

    padding: 5px 15px;
    transition: font-size .3s, color .3s, background-color .3s, border-radius .3s;

    border-radius: 5px;
}

#navbar ul li a.active {
    background-color: #832161;
    color: white;
    padding: 8px 20px;
}

#navbar ul li a:hover {
    color: #da4167;
    font-size: 30px;
    border-radius: 7px;
}