html {
    scroll-behavior: smooth;
}

body {
    font-family: "Jost";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    cursor: none;
}

a {
    cursor: none;
}

#cursor {
    width: 17px;
    height: 17px;

    background: #da4167;
    border-radius: 50%;
    position: fixed;
    pointer-events: none;
    transform: translate(-50%, -50%);

    z-index: 999999;
    transition: width .4s, height .4s, background .4s;
}

#cursor.selected {
    background: black;
    width: 26px;
    height: 26px;
}

img {
    border-radius: 5px;
}

/* navbar */
#navbar {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    width: 98%;
    height: 100px;

    position: fixed;
    top: 0;
}

#navbar ul{
    align-items: center;
    list-style: none;
    
    display: flex;
    gap: 70px;
}

#navbar ul li a{
    text-align: center;
    text-decoration: none;
    font-size: 18px;
    font-weight: 500;

    color: black;
    background-color: #f0eff4;

    padding: 5px 15px;
    transition: all .2s;

    border-radius: 5px;
}

#navbar ul li a.active {
    background-color: #832161;
    color: white;
}

#navbar ul li a:hover {
    color: #da4167;
    font-size: 30px;
    border-radius: 7px;
}